body {
  color: black;
  font-size: 30px;
}

.field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 405px;
  height: 405px;
  cursor: url("../img/hammer.png"), auto;
}

.square {
  border: white solid 1px;
  border-bottom: 0;
  background-color: grey;
  width: calc(25% - 3px);
  height: calc(25% - 2px);
}

.hidden {
  display: none;
}
